@using Task = TaskManager.Models.Task

<partial name="_Menu"/>
<div class="container-fluid d-flex">
	<div id="allTasks" class="container border border-dark">
		<div class="d-flex flex-column">
			@foreach (Task task in ViewBag.Tasks)
			{
				<div class=" d-flex flex-column mb-3">
					<div>
						<span>@task.Description</span>
						до
						<span>@task.EndDate.ToShortDateString()</span>
					</div>
					<div>
						@if (task.Subtasks.Any())
						{
							<span>Подзадачи:</span>
							<ul class="mb-0">
								@foreach (Subtask subtask in task.Subtasks)
								{
									<li>@subtask.Description</li>
								}
							</ul>
						}
					</div>
					<div>
						@task.Priority приоритет
					</div>
				</div>
			}
		</div>
	</div>
	<div id="completedTodayTasks" class="container border-top border border-dark">
		@foreach (Task task in ((IEnumerable<Task>)ViewBag.Tasks).Where(task => task.FinishDate.Date == DateTime.Today))
		{
			<span>@task.Description</span>
		}
	</div>
</div>
<div id="editModal" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<input type="button" class="btn btn-close" data-bs-dismiss="modal"/>
			</div>
			<div class="modal-body">
				<form id="editForm">
					<div class="mb-3">
						<select class="form-select" name="id">
							@foreach (Task task in ViewBag.Tasks)
							{
								<option value="@task.Id">@task.Description</option>
							}
						</select>
					</div>
					<button type="submit" class="btn btn-outline-dark">Редактировать</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div id="removeModal" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<input type="button" class="btn btn-close" data-bs-dismiss="modal"/>
			</div>
			<div class="modal-body">
				<form id="removeForm" method="post" asp-action="Remove">
					<div class="mb-3">
						<select class="form-select mb-3" name="id">
							@foreach (Task task in ViewBag.Tasks)
							{
								<option value="@task.Id">@task.Description</option>
							}
						</select>
					</div>
					<button type="submit" class="btn btn-outline-dark">Удалить</button>
				</form>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script src="~/lib/jquery/jquery/dist/jquery.min.js"></script>
	<script src="~/scripts/resetScripts.js"></script>
	<script src="~/scripts/dateScripts.js"></script>
	<script src="~/scripts/subtaskScripts.js"></script>
	<script src="~/scripts/hashtagScripts.js"></script>
	<script src="~/scripts/attachmentScripts.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/jquery/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}